# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
_storage_emulator

# Teams Toolkit
build
appPackage/build

# Azure Functions
dist
local.settings.json